<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/dashboard.css">
  <title>Binar Dashboard</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/dashboard">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard/user-game">User Game <span class="sr-only">(current)</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/user-game-bio">User Game Biodata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/user-game-history">User Game History</a>
          </li>
        </ul>
        <a href="/logout" class="nav-link">LOGOUT</a>
      </div>
    </div>
  </nav>

  <div id="main" class="main-screen p-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 main-screen-content d-flex flex-column align-items-start">
        <a href="/dashboard/user-game/add" class="btn btn-primary">Add Data</a>
        <table class="table mt-3">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Button</th>
            </tr>
          </thead>
          <tbody>
            <% if(userGame.length){ 
                                
              for(var i = 0;i < userGame.length;i++) { %>
              
             <tr id="<%=userGame[i].id%>">
                 <td><%=(i+1)%></td>
                 <td><%=userGame[i].username%></td>
                 <td><%=userGame[i].email%></td>
                 <td>
                  <a class="btn btn-info" href="/dashboard/user-game/edit/<%=userGame[i].id%>">Edit</a>
                 
                  <a class="btn btn-danger" href="#" onclick="deleteUserGame('<%=userGame[i].id%>')" >Delete</a>
                 
                </td>
             </tr>
         <% }
         
          }else{ %>
              <tr>
                 <td colspan="3">No user</td>
              </tr>
         <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="/js/delete.js"></script>
</body>

</html>